<!DOCTYPE html>
<html>
    <head><title>Add member</title></head>
    <body>
        <h1>Add a new members</h1>
        <a href="/members">Back to Members</a>
        <form method="POST">
          Name: <input type="text" name="name" required><br><br>
          Email: <input type="email" name="email" required><br><br>
          Phone: <input type="text" name="phone" required><br><br>
          Membership Date: <input type="date" name="membership_date" required><br><br>
          <button type="submit">Add a New Member</button>
        </form>
    </body>
</html>